<div class="container">
	<div>
		<h2>Search for a recipe today!</h2>
		<p>Search up your favorite recipe, just put input the ingredients you want in it(commas between ingredients!) and voila!</p>
	</div>
	<div class="search container">
		<%= form_tag recipes_index_path, method: :get, id: 'search' do %>
			<%= label_tag :ingredient %>
			<%= text_field_tag :ingred , '', placeholder: 'Enter what you\' hungry for' , :required => true %>
			<%= submit_tag "Search", class: 'btn btn-success' %>
		<% end %>
	</div>

	<% unless params[:ingred].nil? %>
	<div class="results">
		<h2>Results for <%= params[:ingred] %>(<%= @recipes.count %>)</h2>
		<table border="1">
		  <tr>
		  	<th>Image</th>
		  	<th>Name</th>
		  	<th>Description</th>
		  </tr>
		  <% @recipes.each do |recipe| %>
		    <tr class=<%= #cycle('even', 'odd') %>>
		      <td><%= #image_tag(course["smallIcon"])%></td>
		      <td><%= #course["name"] %></td>
		      <td><%= #course["shortDescription"] %></td>
		    </tr>
		  <% end %>
		</table>

	</div>
	<% end %>
</div>